@(message: String)

@main("New Found Price") {

	<form action="@routes.FoundPriceController.addFoundPrice" method="post">
		<label>Product id:</label><input name="product_id" type="text"></br>
		<label>Price:</label><input name="price" type="text"></br>
		<label>Shop id:</label><input name="shop_id" type="text"></br>
		<label>Datetime:</label><input name="datetime" type="text"></br>
		<label>Brand:</label><input name="product_detail.brand" type="text"></br>
		<label>Type product:</label><input name="product_detail.type_product" type="text"></br>
		<label>Amount:</label><input name="product_detail.amount" type="text"></br>
		<label>Type of capability:</label><input name="product_detail.type_of_capability" type="text"></br>
		<label>Type of container:</label><input name="product_detail.type_of_container" type="text"></br>
		<button> Add Found Prince </button>
	</form>

}


